<% provide(:title,'Contact') %>
    <h1>Sample App</h1>
    <p>
      Contact us about the 
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application. Just never by email!
    </p>
  </body>
</html>